<div id="#biography" ng-bind-html="biography" class="d-flex flex-column gap-1 justified"></div>
<ul id="skills" class="d-grid gap-3 gap-short-2 mt-3 mb-2 m-short-0">
    <li ng-repeat="(title, skillset) in skills">
        <div class="d-flex justify-content-between">
            <span class="skills-title">{{title}}</span>
            <a class="d-block d-md-none toggler"
               data-bs-toggle="collapse"
               role="button"
               href="#skills-{{$index}}"
               aria-expanded="true"
               aria-controls="toggled">
                <span class="bi bi-plus-lg open"></span>
                <span class="bi bi-dash-lg close"></span>
            </a>
        </div>
        <ul id="skills-{{$index}}" class="skillset show d-md-flex flex-column">
            <li ng-repeat="skill in skillset" class="mt-1 mt-short-half">
                <div class="skill-name d-flex align-items-center justify-content-between mb-1">
                    <div>{{skill.name}}</div>
                    <span class="comment pe-2">{{skill.comment}}</span>
                </div>
                <div class="bar-outer">
                    <div class="bar-inner"
                         data-level="{{skill.value}}%"
                         ng-style="{'width': skill.value + '%'}">
                    </div>
                </div>
            </li>
        </ul>
    </li>
</ul>