<ul id="publications">
    <li ng-repeat="paper in publications" ng-class="paper.relevant ? '' : 'd-short-none'">
        <div class="d-flex justify-content-between">
            <div>
                <span class="bi bi-circle timeline"></span>
                <strong>
                    <a ng-if="paper.link !== undefined" href="{{paper.link}}" target="_blank">{{paper.title}}</a>
                    <span ng-if="paper.link === undefined">{{paper.title}}</span>
                </strong>
                <div ng-bind-html="paper.authors"></div>
                <div class="small">{{paper.publisher}}</div>
            </div>
            <a class="small toggler ms-4"
               href="#paper-{{$index}}"
               data-bs-toggle="collapse"
               role="button"
               aria-expanded="false"
               aria-controls="toggled">
                <span class="bi bi-plus-lg open"></span>
                <span class="bi bi-dash-lg close"></span>
            </a>
        </div>
        <p id="paper-{{$index}}" class="collapse description"><strong>Abstract</strong>: {{paper.abstract}}</p>
    </li>
</ul>
