@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,400");

:root {
    --darker: #090909;
    --dark: #1F3A5F;
    --medium: #4B86B4;
    --light: #D9E4F2;
    --lighter: #F3F3F6;
    --photo-half: 120px;
    --border-size: 10px;

    @media (max-width: 575px) {
        --photo-half: 90px;
        --border-size: 5px;
    }
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: var(--darker);
    background: var(--lighter);

    #language {
        position: absolute;
        background-color: rgba(0, 0, 0, 0);
        margin: 10px 12px 0 0;
        border: none;
        right: 0;
    }

    #language:hover {
        cursor: pointer;
        border-bottom: 1px solid var(--darker);
    }

    a {
        color: inherit;
    }

    a:hover {
        color: inherit;
    }

    @media (min-width: 1200px) {
        margin: min(30px, calc(100vw - 1200px) / 2);

        #language {
            top: min(30px, calc(100vw - 1200px) / 2);
            right: calc((100vw - 1200px) / 2);
        }

        #curriculum {
            margin: auto;
            max-width: 1200px;
        }

        header {
            border-radius: 5px;
            box-shadow: 0 1px 2px var(--dark);
            -moz-box-shadow: 0 1px 2px var(--dark);
            -webkit-box-shadow: 0 1px 2px var(--dark);
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }

        main {
            border-radius: 5px;
            border: 1px solid var(--dark);
        }
    }
}

header {
    font-family: "Poppins", sans-serif;
    background: var(--light);
    padding-bottom: 20px;

    #title {
        color: var(--lighter);
        background-color: var(--dark);
        padding: 50px 0 calc(20px + var(--photo-half)) 0;
        text-align: center;
        min-height: 130px;
        width: 100%;

        h1 {
            margin-bottom: 15px;
        }
    }

    #photo {
        margin: calc(-1 * var(--photo-half)) 0 0 0;
        width: calc(2 * var(--photo-half));
        border-radius: 100%;
        border: var(--border-size) solid var(--lighter);
        box-shadow: 0 1px 1px var(--lighter);
    }

    #toggler {
        position: absolute;
        margin-top: -55px;
        font-size: 25px;
        right: 20px;
        color: var(--darker);
        text-decoration: none;
    }

    #toggler[aria-expanded=true] {
        #open {
            display: none;
        }

        #close {
            display: block;
        }
    }

    #toggler[aria-expanded=false] {
        #open {
            display: block;
        }

        #close {
            display: none;
        }
    }

    #info {
        margin: calc(-1 * var(--photo-half)) 5px 0 5px;
        padding: 25px 0 10px 0;

        ul {
            margin: 0;
            padding: 0;
            list-style: none;

            li {
                padding: 8px 0;
                font-size: 14px;

                .bi {
                    vertical-align: middle;
                    font-size: 16px;
                    margin: 0 10px;
                }
            }
        }

    }

    @media (min-width: 768px) {
        #title {
            margin: calc(var(--photo-half) / 2) 0 0 0;
            padding: 0 0 0 calc(2 * var(--photo-half) + 20px + 10%);
            text-align: left;
            width: 100%;
        }

        #photo {
            position: absolute;
            align-self: start;
            margin: 15px;
            z-index: 1;
        }

        #info {
            margin: 0 10px;
            padding: 20px 10px 0 calc(10px + 2 * var(--photo-half));
        }
    }
}

nav {
    a span {
        color: var(--darker);
    }

    a:hover span {
        color: var(--medium);
    }
}

main {
    background-color: white;
}