/** Main Settings **/

html, body {
    font-family: "Open Sans", sans-serif;
    font-size: var(--font-size);
    color: var(--body-color);
    background: var(--body-background);
    scrollbar-color: var(--scrollbar-color) rgba(255, 255, 255, 0.6);
}

ul {
    margin: 0;
    padding: 0;
    display: grid;
    list-style: none;
}

p {
    margin: 0;
}

a {
    color: inherit;
}

a:hover {
    color: var(--link-hover-color);
}

.bi {
    vertical-align: middle;
    margin: 0 10px;
}

/** Curriculum & Toggler Settings **/

#curriculum {
    background: var(--body-background);
    margin: var(--curriculum-margin-top) var(--curriculum-margin-side);
}

#print {
    position: absolute;
    top: var(--print-top);
    right: var(--print-right);
    color: var(--print-color);
    background: transparent;
    text-decoration: underline;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 17px;
    border: none;
}

#language {
    position: absolute;
    top: var(--language-top);
    right: var(--language-right);
    background-color: transparent;
    border: none;

    &:hover {
        cursor: pointer;
        border-bottom: 1px solid var(--body-color);
    }
}

/** Navbar & Footer Settings **/

nav {
    a, a * {
        color: var(--body-color);

        &:hover {
            text-decoration: underline;
        }
    }

    .current-page a, .current-page a * {
        color: var(--nav-current-color);
        font-weight: bold;
    }

    .bi {
        font-size: calc(var(--nav-icon-multiplier) * var(--font-size));
    }
}

footer {
    height: var(--footer-height);
    padding: 0 var(--footer-padding);
    border-top: var(--footer-border-top);
    background-color: var(--body-background);
    font-size: var(--footer-font-size);
    justify-content: var(--footer-content-align);
}

/** Header Settings **/

header {
    font-family: "Poppins", sans-serif;
    background: var(--header-background);
    border-radius: var(--header-border-radius);
    box-shadow: var(--header-box-shadow);
    -moz-box-shadow: var(--header-box-shadow);
    -webkit-box-shadow: var(--header-box-shadow);

    #photo {
        position: absolute;
        top: var(--photo-top);
        left: var(--photo-left);
        width: var(--photo-size);
        box-shadow: var(--photo-box-shadow);
        border: var(--photo-border-size) solid var(--photo-border-color);
        border-radius: 100%;
    }

    #title {
        background: var(--title-background);
        color: var(--title-color);
        width: 100%;
        height: var(--title-height);
        text-align: var(--title-text-align);
        margin-top: var(--title-margin-top);
        padding-top: var(--title-padding-top);
        padding-bottom: var(--title-padding-bottom);
        padding-left: var(--title-padding-left);

        #tag {
            font-size: calc(1.2 * var(--font-size));
            font-weight: 500;
        }
    }

    #info {
        min-height: var(--info-min-height);
        padding-left: var(--info-padding-left) !important;

        .info-item {
            font-size: calc(0.9 * var(--font-size));
        }

        .toggler {
            right: 0;
            position: absolute;
            font-size: calc(1.5 * var(--font-size));
            color: var(--body-color);
            text-decoration: none;
        }
    }
}

/** Sections Settings **/

main {
    border: var(--main-border);
    border-top: var(--main-border-top);
    border-radius: var(--main-border-radius);
    background: var(--main-background);
    margin-bottom: var(--main-margin-bottom);
    padding: var(--main-padding-y) var(--main-padding-x);

    a:hover, a:hover * {
        color: var(--link-hover-color) !important;
        text-decoration: underline;
    }
}

main:not(.about) {
    > ul {
        display: grid;
        gap: var(--sections-list-gap);
        border-left: var(--sections-list-border-size) solid var(--sections-list-icon-color);
        margin-left: var(--sections-list-margin-left);

        > li {
            font-size: var(--sections-item-font-size);
            margin-left: var(--sections-item-margin-left);
        }
    }

    strong {
        color: var(--sections-list-strong-color);
    }

    .timeline {
        position: absolute;
        background: var(--main-background);
        color: var(--sections-list-icon-color);
        margin-left: var(--sections-timeline-margin-left);
        padding: 1px 0;
    }

    .small {
        font-size: var(--font-size);
        font-weight: 300;
    }

    .description {
        width: 100%;

        p {
            margin: var(--sections-description-margin-y) var(--sections-description-margin-x);
            border-left: var(--sections-description-border-left);
            padding-left: var(--sections-description-padding-left);
        }

        a {
            color: var(--sections-description-strong-color);
            font-weight: 500;
        }

        strong, strong * {
            color: var(--sections-description-strong-color);
            font-weight: bold;
        }
    }
}

.education {
    .small {
        font-style: italic;
    }

    .description {
        font-size: calc(0.9 * var(--font-size));

        ul {
            border: none;
            list-style: square inside;
            margin-left: var(--sections-description-margin-x);
        }

        li {
            font-size: calc(0.85 * var(--font-size));
        }

        li:before {
            content: "";
            margin-left: -5px;
        }
    }
}

.publications {
    u {
        color: var(--publications-underline-color);
        text-decoration: none;
    }

    .description {
        font-size: calc(0.85 * var(--font-size));
    }
}

.about {
    a {
        color: var(--about-strong-color);
        font-weight: 500;
    }

    strong {
        color: var(--about-strong-color);
    }

    .description {
        display: grid;
        gap: var(--about-paragraphs-gap);
    }

    .skills-title {
        font-size: calc(1.2 * var(--font-size));
        font-weight: 500;
    }

    .bar-outer {
        height: var(--about-bar-heigh);
        border-radius: var(--about-bar-heigh);
        background: var(--about-bar-background);
    }

    .bar-inner {
        height: var(--about-bar-heigh);
        border-radius: var(--about-bar-heigh);
        background: var(--about-bar-color);
    }

    .comment {
        font-size: calc(0.9 * var(--font-size));
        font-weight: 300;
    }
}

/** Utilities **/

.justified {
    text-align: justify;
    text-justify: inter-word;
}

.toggler[aria-expanded=true] > .open, .toggler[aria-expanded=false] > .close {
    display: none;
}

.toggler[aria-expanded=true] > .close, .toggler[aria-expanded=false] > .open {
    display: inline;
}


/** Print Settings **/

@media print {
    @page {
        size: A4 portrait !important;
    }

    :root {
        --font-size: 12px !important;
        --title-height: 90px !important;
        --photo-half: 90px !important;
        --border-size: 5px !important;
        --background: var(--lighter);
    }

    html, body {
        -webkit-print-color-adjust: exact !important;
        print-color-adjust: exact !important;
    }

    footer {
        font-size: 9px !important;
    }

    header {
        padding: 0 !important;

        h1 {
            font-size: 30px !important;
        }

        h5 {
            font-size: 18px !important;
        }

        #photo {
            margin: 20px !important;
        }

        #info {
            margin: 0 !important;
            padding: 0 0 0 calc(35px + 2 * var(--photo-half)) !important;
            align-items: center !important;
            height: 110px !important;
            width: 100% !important;

            ul {
                display: grid !important;
                grid-template-columns: 137px 150px 140px 116px !important;

                li {
                    display: block !important;
                    width: fit-content !important;

                    .bi {
                        margin-right: 3px !important;
                    }
                }
            }
        }
    }

    .about {
        h3 {
            font-size: 13px !important;
            font-weight: bold !important;
            text-transform: uppercase !important;
        }

        .skills {
            width: 100% !important;

            .skill {
                font-size: 11px !important;
            }
        }
    }

    .print-short {
        header {
            background-color: transparent !important;

            #title {
                margin-top: calc(10px + var(--photo-half) / 2) !important;
                margin-left: calc(20px + var(--photo-half)) !important;
                z-index: 1 !important;
            }

            #info {
                position: absolute !important;
                top: -24px !important;
                padding-left: calc(50px + 2 * var(--photo-half)) !important;

                li {
                    padding: 0 0 5px 0 !important;
                }
            }

            #photo {
                border-color: var(--lighter);
            }
        }

        footer {
            bottom: 10px !important;
            position: absolute !important;
            width: calc(40px + 2 * var(--photo-half)) !important;
            padding: 0 20px !important;
            text-align: left !important;
            background-color: transparent !important;
        }

        main {
            padding: 0 !important;
            border: none !important;

            .about {
                display: flex !important;
                flex-direction: column !important;
                justify-content: space-between !important;
                position: absolute !important;
                top: 0 !important;
                bottom: 0 !important;
                width: calc(40px + 2 * var(--photo-half)) !important;
                height: 100% !important;
                padding: calc(30px + 2 * var(--photo-half)) 20px 80px 20px !important;
                background-color: var(--light) !important;

                strong, a {
                    color: var(--darker) !important;
                }

                p {
                    font-size: 12.5px !important;
                    font-weight: 500 !important;
                    text-align: left !important;
                    margin: 5px 0 !important;
                }

                p:last-child {
                    margin: 0 !important;
                }

                #skills {
                    display: block !important;

                    .skills {
                        margin: 10px 0 !important;

                        ul, .title {
                            margin: 0 !important;
                        }

                        h3 {
                            margin-bottom: 1px !important;
                        }

                        li {
                            padding: 3px 0 !important;

                            .bar-outer {
                                background-color: rgba(0, 0, 0, 0.1) !important;
                                height: 5px !important;
                            }

                            .bar-inner {
                                height: 5px !important;
                            }
                        }
                    }
                }
            }

            .sections {
                display: flex !important;
                flex-direction: column !important;
                justify-content: space-between !important;
                margin: 10px 0 0 calc(30px + 2 * var(--photo-half)) !important;
                padding: 0 20px !important;
                height: calc(100vh + 5px - 2 * var(--photo-half)) !important;

                .section {
                    margin: 0 !important;
                }

                ul {
                    margin-left: 7px !important;

                    li {
                        margin: 0 10px 10px 10px !important;

                        .bi {
                            margin-left: -17px !important;
                        }
                    }
                }
            }
        }

        .d-short-none {
            display: none !important;
        }

        .d-short-block {
            display: block !important;
        }
    }

    .print-full {
        --font-size: 14px !important;
        font-size: 14px !important;

        #info {
            --font-size: 12px !important;
        }

        main {
            margin: 0 !important;
            padding: 0 30px 50px 30px !important;

            #skills {
                display: grid !important;
                grid-template-columns: 25% 25% 25% 25% !important;
            }

            /* quick patch to guarantee correct formatting on page breaks */

            .sections {
                ul > li {
                    page-break-inside: avoid !important;
                    margin-bottom: -65px !important;
                    margin-top: -40px !important;
                    padding: 40px 0 !important;
                }

                ul > li:first-child {
                    margin-top: 0 !important;
                    padding-top: 0 !important;
                }

                ul > li:last-child {
                    margin-bottom: 0 !important;
                    padding-bottom: 0 !important;
                }
            }

            .publications > ul > li {
                margin-right: 65px !important;
            }
        }

        .d-full-none {
            display: none !important;
        }

        .d-full-block {
            display: block !important;
        }
    }

    .section {
        h2 {
            color: var(--dark);
            font-size: 24px !important;
            font-weight: 700;
        }

        .bi {
            display: none !important;
        }
    }

    .timeline {
        margin-left: -42.5px !important;
    }

    .toggler, #language, #print, nav {
        display: none !important;
    }
}